Source: ubnt-zabbix-template
Section: misc
Priority: optional
Maintainer: soft@netping.tw
Version: 2.2-1

Package: ubnt-zabbix-template
Architecture: all
Build-Depends: debhelper-compat
Depends: jq, lm-sensors, curl, iptables-persistent
Description: NetPing
 First deb build.
 Try number one.
